[user]
    email = cmonaqa@gmail.com
    name = monaqa
[github]
    user = monaqa

[tig "color"] cursor = yellow red bold

[commit]
    template = /Users/monaqa/.commit_template
[core]
    editor = nvim
[alias]
    cancel = !git commit -a -m 'Temporary commit for cancel' && git reset --hard HEAD~
    commend = commit --amend --no-edit
    please = push --force-with-lease
    it = !git init && git commit -m “root” --allow-empty
    stsh = stash --keep-index
    staash = stash --include-untracked
    staaash = stash --all
    shorty = status --short --branch
    grog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
    plog = log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=format:'%c' --all --graph
    dlog = log --graph --name-status --pretty=format:\"%C(red)%h %C(green)%an %Creset%s %C(yellow)%d%Creset\"

    branches = "!f () {\
        git branch --format=\"%(align:width=8)local%(end) %(align:width=48)%(refname:short)%(end) %(align:width=16)%(committername)%(end)  %(if)%(upstream)%(then)%(upstream:short)%(end)\";\
        git branch --remotes --format=\"%(align:width=8)remote%(end) %(align:width=48)%(refname:short)%(end) %(committername)\";\
    };f"

    swim = "!git branches | sk | awk '{if($1==\"remote\"){print substr($2,match($2,\"/\")+1)}else{print $2}}' | xargs git switch"

    default = !basename "$(git symbolic-ref --short refs/remotes/origin/HEAD)"

    vacuum = "!f () { git checkout $1; git branch --merged|egrep -v '\\*|develop|main'|xargs git branch -d; git fetch --prune; };f"

[push]
    default = current
[pull]
    ff = only
[merge]
    conflictStyle = diff3
[init]
    defaultBranch = master

[diff]
    algorithm = histogram
