format = """
$time\
$cmd_duration\
$line_break\
$username\
$hostname\
$shlvl\
$kubernetes\
$directory\
$git_branch\
$git_commit\
$git_state\
$git_status\
$hg_branch\
$docker_context\
$package\
$cmake\
$dart\
$dotnet\
$elixir\
$elm\
$erlang\
$golang\
$helm\
$java\
$julia\
$nim\
$nodejs\
$ocaml\
$perl\
$php\
$purescript\
$python\
$ruby\
$rust\
$swift\
$terraform\
$zig\
$nix_shell\
$conda\
$memory_usage\
$aws\
$gcloud\
$env_var\
$crystal\
$custom\
$line_break\
$jobs\
$battery\
$status\
$character"""
[directory]
truncation_length = 8
[character]
success_symbol = "[❯](bold green)"
error_symbol = "[✗](bold red)"
[time]
disabled = false
format = "[\\[$time\\]]($style) "
time_format = "%Y-%m-%d %T"
utc_time_offset = "+9"
style = "fg:249"
